.contact-header {
  background-image: url("../images/blue-bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: var(--white);
  text-align: center;
  padding: 40px 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
}

.sub-contact-header > h2 {
  font-size: 55px;
}

.sub-contact-header > p {
  font-size: 16px;
  width: 65%;
}
.contact-info {
  background: var(--primary);
  color: var(--white);
  padding: 2em;
  border-radius: 8px;
}
.contact-info > a {
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
  font-size: 18px;
}
.social-icons > a {
  text-decoration: none;
  color: var(--primary);
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  padding: 1em;
}
.contact-message {
  background: var(--black);
  color: var(--white);
  padding: 2em 4em;
  border-radius: 8px;
  margin-top: 20px;
}

.contact-message > p {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 0;
  font-weight: 300;
}
.contact-message > p > span {
  color: var(--primary);
}

.form-control {
  border: none !important;
  border-bottom: 1px solid var(--black) !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 10px 0px 20px 0px !important;
}

.contact-form input {
  margin-bottom: 4em;
}

.contact-form label {
  font-size: 22px;
}

.contact-form .btns {
  background-color: transparent;
  margin-top: 2em;
}

::placeholder {
  color: var(--color5);
  font-size: 14px;
}

.si-d {
  width: 35px;
  height: 35px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
