* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff6600;
  --text: #1a1a1a;
  --color3: #b0b0b0;
  --color4: #f6f6f6;
  --color5: #dedede;
  --black: #000000;
  --color6: #5f5f5f;
  --health: #3385e8;
  --restaurants: #d9a657;
  --karaoke: #f40989;
  --auto: #db2411;
  --white: #ffffff;
  --axiforma: "Axiform", sans-serif;
  --poppins: "Poppins", sans-serif;
}

@font-face {
  font-family: "Axiform";
  src: url("../font/Axiforma-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Axiform";
  src: url("../font/Axiforma-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Axiform";
  src: url("../font/Axiforma-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Axiform";
  src: url("../font/Axiforma-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}

p {
  margin: 0;
}

body {
  font-family: var(--axiforma) !important;
  color: var(--text);
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.loader-wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  z-index: 1500;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em 2em 4em 2em;
}

.loader-wrapper p {
  font-size: 180px;
  color: var(--white);
  display: flex;
  position: relative;
  width: fit-content;
}

.loader-wrapper .percent {
  position: absolute;
  right: -72%;
  top: 0;
  font-size: 60px;
}

.loader-wrapper #count {
  width: 200px;
}

.loader-wrapper .bar-loader {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.loader-wrapper .progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--white);
  transition: width 1s ease;
}

.hide-loader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/*btns*/

.btns {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  color: var(--color);
  border: 1px solid var(--color3);
  border-radius: 50px;
  position: relative;
  padding: 1em 2em;
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  font-family: var(--poppins);
}

.btns::before {
  position: absolute;
  content: "";
  background: var(--primary);
  width: 250px;
  height: 250px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.4s all;
}

.btns:hover {
  color: var(--white);
  border: 1px solid var(--primary);
}

.btns:hover::before {
  top: -30px;
  left: -30px;
}

/*headings*/
.head-row {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 4em;
}

.head1 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.head2 {
  color: var(--text);
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  margin: 0;
}

.head-content {
  color: var(--text);
  font-size: 16px;
  line-height: 28px;
}

/*headers*/

.tag-header {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  text-align: center;
}

.tag-header p {
  color: var(--white);
  font-weight: 200;
  font-size: 14px;
}

.tag-header p a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  margin-left: 0.4em;
}

/*header1*/
.header1-wrapper {
  padding: 1em 0em;
  border-bottom: 1px solid var(--color5);
  position: sticky;
  top: 0px;
  background-color: var(--white);
  z-index: 999;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 img {
  width: 200px;
  object-fit: cover;
}
.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2em;
  margin: 0;
}

.menus ul li {
  margin: 0;
}

.menus ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 17px;
  transition: 0.5s;
}

.menus ul li a:hover {
  color: var(--primary);
}

.header-btn {
  text-align: end;
}

.header-btn .btns::before {
  width: 450px;
  height: 450px;
}

.header-btn .btns:hover::before {
  top: -80px;
  left: -80px;
}

/*side-header*/

.menu-bar {
  justify-self: end;
  display: none;
}

/*header2*/

.header2-wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  z-index: 1500;
  padding: 7em 1em;
  transition: right 0.5s ease;
  display: none;
}

.header2-menus {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border-bottom: 1px solid var(--white);
  padding-bottom: 1.5em;
  margin: 2.5em 0em;
}

.header2-menus a {
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-bar i {
  font-size: 32px;
  cursor: pointer;
}

.header2-wrapper .ph-x-circle {
  position: absolute;
  top: 24px;
  right: 20px;
  font-size: 32px;
  color: var(--white);
  cursor: pointer;
}

.header2-wrapper .socials a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin-right: 0.5em;
}

.header2-wrapper h3 {
  color: var(--white);
  border-bottom: 1px solid var(--white);
  padding-bottom: 1em;
}

.show-header {
  right: 0 !important;
}
/*up-arrow*/
.up-arrow {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 998;
}

.up-arrow i {
  font-size: 42px;
  cursor: pointer;
}

/*policy-contaienr*/

.policy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.policy-container .policy-content {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  padding: 2.5em;
  font-family: var(--axiforma);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  overflow-y: scroll;
}

.policy-container .policy-content .ph-x-circle {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 32px;
  cursor: pointer;
}

.policy-container .policy-content .policy-head h2 {
  font-size: 28px;
  font-weight: 600;
}

.policy-content .policy-intro h3 {
  font-size: 24px;
  font-weight: 600;
}

.policy-content .policy-list h4 {
  font-size: 20px;
  font-weight: 600;
}

.policy-content .policy-list .list-head {
  margin-bottom: 1em;
}

.policy-content .policy-list ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/*section1*/

.section1 {
  padding: 4.5vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  text-align: center;
}

.section1-content h1 img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.section1-content h1 {
  font-size: 62px;
  line-height: 80px;
  font-weight: 600;
}

.section1-content p {
  font-size: 18px;
}

.section1-content h1 span,
.section1-content p span {
  color: var(--primary);
}

.section1-btns {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 1em;
}

.section1-btns .btns:nth-child(1) {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.section1-btns .btns:nth-child(1)::before {
  display: none;
}

/*section2*/

.section2 {
  margin-bottom: 6em;
}
/* .section2 img {
  height: 90vh;
  object-fit: cover;
  width: 100%;
} */

/*section3*/
.section3 {
  margin-bottom: 6em;
}
.section3-row-2 .card-wrapper {
  padding: 2em;
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  gap: 12em;
  border-radius: 0px 50px 0px 0px;
}

.section3-row-2 .card-wrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-family: var(--poppins);
  border: 1px solid var(--primary);
  font-size: 28px;
  color: var(--primary);
}

.card-contents h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 2em;
}

.card-contents p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

/*section4*/
.section4 {
  height: 100vh;
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
}

.section4 svg {
  position: absolute;
  bottom: 0;
  left: 0;
  /* stroke-dasharray: 3000;
  stroke-dashoffset: -3000;
  animation: draw 3s ease-in-out forwards; */
}

.section4 .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4-content {
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.section4-content p:nth-child(1) {
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
  width: fit-content;
}

.section4-content p:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 9vw;
  top: 40%;
  background-color: var(--white);
  height: 2px;
  border-radius: 20px;
  width: 70px;
}

.section4-content p:nth-child(1)::before {
  content: "";
  position: absolute;
  right: 9vw;
  top: 40%;
  background-color: var(--white);
  height: 2px;
  border-radius: 20px;
  width: 70px;
}

.section4-content h2 {
  font-size: 54px;
  line-height: 74px;
  font-weight: 600;
}

.section4-content p:nth-child(3) {
  font-size: 16px;
  width: 70%;
  line-height: 28px;
  font-weight: 400;
}

.section4-content .btns {
  margin-top: 1em;
  border: 1px solid var(--white);
}

.section4-content .btns:hover {
  border: 1px solid var(--white);
  color: var(--text);
}

.section4-content .btns::before {
  background-color: var(--white);
}

/*section5*/

.section5 {
  margin-bottom: 6em;
}

.section5 .head-row {
  align-items: start;
}

.section5-headings {
  position: sticky;
  top: 150px;
}

.section5-headings .head-content {
  margin: 1em 0em 3em 0em;
}

.section5-headings .btns {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

.section5 .card-wrapper-2 {
  background-color: var(--color4);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 20px;
}

.section5-card {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.section5 .card-wrapper-2 i {
  font-size: 64px;
  color: var(--primary);
  margin-bottom: 0.5em;
}

.section5 .card-wrapper-2 h3 {
  font-size: 24px;
  font-weight: 600;
}

.section5 .card-wrapper-2 p {
  font-size: 16px;
  line-height: 28px;
}

/*section6*/
.section6 {
  background-image: url("../images/blue-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section6-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section6-content .head2 {
  color: var(--white);
  line-height: 70px;
  font-size: 54px;
}

.section6-content p:nth-child(3) {
  color: var(--white);
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  margin: 2em 0em;
  width: 90%;
}

.section6-content .btns {
  margin-top: 1em;
  color: var(--white);
}

/*section7*/
.section7 {
  padding: 0em 0em 6em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section7 h2 {
  font-size: 62px;
  text-align: center;
  font-weight: 600;
}

.section7 h2 span {
  color: var(--primary);
}

.section7 .section7-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.section7 .btns {
  width: fit-content;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

.section7 p {
  margin-top: 2em;
  font-style: italic;
  color: var(--color3);
  font-size: 18px;
}

/*section8*/

.section8 {
  margin-bottom: 6em;
}

.section8 .head-row {
  align-items: start;
}

.section8 .btns {
  margin-top: 1.5em;
}

.section8 .accordion {
  --bs-accordion-color: var(--text);
  --bs-accordion-bg: transparent;
  --bs-accordion-transition: color 0.5s ease-in-out;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: none;
  --bs-accordion-border-radius: none;
  --bs-accordion-btn-padding-x: 1em;
  --bs-accordion-btn-padding-y: 1em;

  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.5s ease-in-out;

  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--primary);
  --bs-accordion-active-bg: none;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.section8 .accordion-item {
  border-bottom: 1px solid var(--color5);
  padding-bottom: 0.5em;
  position: relative;
}

.section8 .accordion-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--black);
  height: 1px;
  transition: 1s ease;
}

.section8 .accordion-item:hover::after {
  width: 100%;
}

.section8 .faqs button {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.section8 .accordion-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/*footer*/

.footer {
  min-height: 100vh;
  color: var(--white);
  padding-top: 12em;
  padding-bottom: 4em;
  background-color: var(--black);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.footer-head {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.footer-content h2 {
  font-size: 64px;
  line-height: 76px;
}

.footer-head .btns {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.socials-copy {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  padding-bottom: 2em;
  position: relative;
}

.divider::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--color6);
  bottom: 0;
  transform: translate(-50% -50%);
  height: 1px;
  width: 0;
  transition: ease 2s;
}

.show-divider::after {
  width: 100% !important;
}

.footer-contact .contact-1 {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.footer-content i {
  color: var(--color6);
  font-size: 15px;
  margin-right: 5px;
}

.footer-contact a {
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
  font-size: 17px;
}

.footer-contact .copyright {
  color: var(--color3);
}

.footer-contact a:hover {
  color: var(--primary);
  transition: 0.5s;
}

/*service pages form */
/*section5-health*/

.section5-health {
  padding: 4em 0em;
  color: var(--text);
}

.section5-health-content {
  padding-right: 5em;
}
.section5-health h2 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 0.5em;
}

.section5-health p {
  font-size: 18px;
  font-weight: 300;
}

.section5-health .contact-form input {
  margin-bottom: 3em;
  background-color: transparent;
  border: none;
}

.section5-health .contact-form textarea {
  background-color: transparent !important;
  border: none;
}

.section5-health .contact-form label {
  margin-bottom: 1em !important;
  font-size: 20px;
}

/*responsive*/

/* mobile phones to tablet devices*/
@media (max-width: 991.98px) {
  /*policies*/
  .policy-container .policy-content {
    width: 100%;
    height: 100%;
  }
  /*headers*/

  .header1 .menus {
    display: none;
  }

  .header-btn .btns {
    display: none;
  }

  .header1 .logo p {
    font-size: 26px;
  }

  /*header2*/
  .header2-wrapper {
    display: block;
  }
  .menu-bar {
    display: block;
  }

  .loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .loader-wrapper p {
    display: none;
  }

  .loader-wrapper #count {
    width: 50px;
  }

  .loader-wrapper .bar-loader {
    width: 50%;
    height: 6px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  /*btns*/

  .btns {
    padding: 0.8em 1.5em;
  }

  /*headings*/
  .head-row {
    gap: 1em;
  }

  .head2 {
    font-size: 26px;
    line-height: 40px;
  }

  /*up-arrow*/
  .up-arrow {
    display: none;
  }

  /*section1*/

  .section1 {
    padding: 10vw 2vw;
  }

  .section1-content {
    align-items: start;
    gap: 1em;
    text-align: start;
  }

  .section1-content h1 img {
    width: 45px;
    height: 45px;
  }

  .section1-content h1 {
    font-size: 34px;
    line-height: 50px;
  }

  .section1-content h1 br {
    display: none;
  }

  .section1-content p {
    font-size: 16px;
  }

  .section1-content p br {
    display: none;
  }

  .section1-btns .btns:nth-child(2) {
    display: none;
  }

  /*section2*/

  .section2 {
    margin-bottom: 4em;
  }

  /*section3*/
  .section3 {
    margin-bottom: 4em;
  }
  .section3-row-2 .card-wrapper {
    padding: 2em 1.5em;
    gap: 2em;
  }

  .card-contents h4 {
    margin-bottom: 1em;
    line-height: 34px;
  }

  /*section4*/
  .section4 {
    margin-bottom: 4em;
  }

  .section4-content {
    align-items: start;
    gap: 1.5em;
    padding: 0vw 2vw;
  }

  .section4-content p:nth-child(1) {
    text-transform: capitalize;
    font-size: 20px;
    position: relative;
    width: fit-content;
  }

  .section4-content p:nth-child(1)::after,
  .section4-content p:nth-child(1)::before {
    display: none;
  }

  .section4-content h2 {
    font-size: 28px;
    line-height: 44px;
    text-align: start;
  }

  .section4-content p:nth-child(3) {
    width: 100%;
    text-align: start;
  }

  .section4-content .btns {
    margin-top: 1em;
    border: 1px solid var(--white);
  }

  /*section5*/

  .section5 {
    margin-bottom: 4em;
  }

  .section5-headings {
    position: relative;
    top: 0px;
  }

  .section5-headings .head-content {
    margin: 1em 0em 2em 0em;
  }
  .section5 .card-wrapper-2 {
    gap: 1em;
  }
  .section5 .card-wrapper-2 i {
    font-size: 54px;
    margin-bottom: 0em;
  }

  .section5 .card-wrapper-2 h3 {
    line-height: 36px;
  }

  /*section6*/
  .section6 {
    height: 100%;
    padding: 2em 0em;
    margin-bottom: 4em;
  }

  .section6-container {
    text-align: start;
  }

  .section6-content {
    align-items: start;
  }

  .section6-content .head2 {
    font-size: 28px;
    line-height: 44px;
  }

  .section6-content p:nth-child(3) {
    margin: 1em 0em;
    width: 100%;
  }

  /*section7*/
  .section7 {
    padding: 0em 0em 4em 0.8em;
  }

  .section7 h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: start;
    font-weight: 600;
  }

  .section7 h2 span {
    color: var(--primary);
  }

  .section7 .section7-content {
    align-items: start;
    gap: 1em;
  }

  .section7 .btns {
    margin-top: 1em;
  }

  .section7 p {
    margin-top: 1.5em;
  }

  /*section8*/

  .section8 {
    margin-bottom: 4em;
  }

  .section8 .btns {
    margin-top: 1.5em;
  }

  .section8 .accordion {
    --bs-accordion-btn-padding-x: 0.5em;
    --bs-accordion-btn-padding-y: 0.5em;

    --bs-accordion-btn-icon-width: 1rem;

    --bs-accordion-body-padding-x: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  /*footer*/

  .footer {
    min-height: 100vh;
    color: var(--white);
    padding: 4em 0em;
    background-color: var(--black);
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .footer-head {
    align-items: start;
    flex-direction: column;
    gap: 2em;
  }

  .footer-content h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .footer-content h2 br {
    display: none;
  }

  .socials-copy {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .footer-contact {
    flex-direction: column;
    gap: 2em;
    align-items: start;
  }

  .footer-contact a {
    line-height: 30px;
  }

  /*service pages form */
  /*section5-health*/

  .section5-health {
    padding: 0em;
    margin-bottom: 4em;
  }

  .section5-health-content {
    padding-right: 0em;
    margin-bottom: 4em;
  }
  .section5-health h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0.5em;
  }
}

/*mobile devices*/
@media (max-width: 575.98px) {
  .section4 svg {
    display: none;
  }
  /*policies*/
  .policy-container .policy-content {
    padding: 1.5em;
  }
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  /*section1*/
  .section1 {
    padding: 10vw 6vw;
  }

  /*section4*/

  .section4-content {
    align-items: start;
    gap: 1.5em;
    padding: 0vw 6vw;
  }

  /*section7*/
  .section7 {
    padding: 0em 2.5em 4em 2.5em;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .loader-wrapper p {
    display: none;
  }

  .loader-wrapper #count {
    width: 50px;
  }

  .loader-wrapper .bar-loader {
    width: 50%;
    height: 6px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  /*headings*/
  .head-row {
    gap: 1em;
  }

  .head2 {
    font-size: 30px;
    line-height: 42px;
  }

  /*up-arrow*/
  .up-arrow {
    display: none;
  }

  /*section1*/

  .section1 {
    padding: 10vw 2vw;
  }

  /*section2*/

  /*section3*/

  .section3-row-2 .card-wrapper {
    padding: 2em 1.5em;
    gap: 2em;
  }

  .card-contents h4 {
    margin-bottom: 1em;
    line-height: 34px;
  }

  /*section4*/

  .section4-content {
    padding: 0vw 2vw;
  }

  .section4-content p:nth-child(1)::after,
  .section4-content p:nth-child(1)::before {
    display: none;
  }

  /*section7*/
  .section7 {
    padding: 0em 4em 6em 4em;
  }

  /*footer*/

  .footer {
    padding-bottom: 4em;
  }

  .footer-head {
    align-items: start;
    flex-direction: column;
    gap: 2em;
  }
}

@media (min-width: 1199.98px) and (max-width: 1366.98px) {
  /*section4*/
  .section4-content p::before,
  .section4-content p::after {
    display: none;
  }

  /*section6*/
  .section6 {
    height: 100%;
    padding: 2em 0em;
  }
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
