.head1 {
  color: var(--restaurants);
}

.loader-wrapper {
  background-color: var(--restaurants);
}

.header1 .menus ul li a:hover {
  color: var(--restaurants);
}

.btns {
  border-color: var(--restaurants);
}

.btns:hover {
  border-color: var(--restaurants);
}

.btns::before {
  background-color: var(--restaurants);
}

.health-tag-header {
  background-color: var(--restaurants);
}

/*section1-health*/

.section1-health {
  height: 100vh;
  margin-bottom: 6em;
}

.section1-health .col-6 {
  padding: 0;
}

.section1-health-content {
  padding: 5vw;
  background-color: var(--color4);
  height: 100%;
  width: 100%;
}
.section1-health-content h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 2em;
}

.section1-health-content p {
  color: var(--text);
  font-size: 16px;
  line-height: 28px;
  width: 80%;
}

.section1-health img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: right top;
}

/*section2-health*/

.section2-health {
  margin-bottom: 6em;
}

.section2-health .btns {
  margin-top: 2em;
}

.section2-health p {
  margin-bottom: 1em;
  line-height: 28px;
}

.section3-row-2 .card-wrapper {
  background-color: var(--white);
  border: 1px solid var(--color5);
  border-radius: 20px;
}

.section3-row-2 .col-4:nth-child(2) .card-wrapper {
  background-color: var(--restaurants);
  color: var(--white);
  border: none;
}

.section3-row-2 .col-4:nth-child(2) .card-wrapper span {
  border-color: var(--white);
  color: var(--white);
}

.section3-row-2 .card-wrapper span {
  border-color: var(--restaurants);
  color: var(--restaurants);
}

/*secton3-health*/
/*section6-about*/

.service-process {
  margin-bottom: 6em;
  padding: 4em 0em;
  background-color: var(--restaurants);
}

.service-process .swiper-wrapper {
  padding-left: 7vw;
}

.service-process .head1,
.service-process .head2 {
  color: var(--white);
}

.swiper-btns {
  display: flex;
  gap: 2em;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  width: fit-content !important;
  margin: 0 !important;
  color: var(--restaurants) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
}

.process-card {
  height: 500px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.process-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--restaurants);
  color: var(--white);
  margin-bottom: 1em;
}

.process-card h4 {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}

.process-card p {
  font-size: 16px;
  line-height: 28px;
}

.process-card img {
  display: inline-block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*section4-health*/
.section8 .accordion {
  --bs-accordion-active-color: var(--restaurants);
}
