.section1-health-content h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 2em;
}

.section1-health-content p {
  font-size: 16px;
  line-height: 28px;
  width: 80%;
}

.section1-health img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: right top;
}

/*section2-health*/

.section2-health {
  margin-bottom: 6em;
}

.section2-health .btns {
  margin-top: 2em;
}

.section2-health p {
  margin-bottom: 1em;
  line-height: 28px;
}

.section3-row-2 .card-wrapper {
  border: 1px solid var(--color5);
  border-radius: 20px;
}

.section3-row-2 .col-4:nth-child(2) .card-wrapper {
  border: none;
}

/*secton3-health*/
/*section6-about*/

.service-process {
  margin-bottom: 6em;
  padding: 4em 0em;
}

.service-process .swiper-wrapper {
  padding-left: 7vw;
}

.swiper-btns {
  display: flex;
  gap: 2em;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  width: fit-content !important;
  margin: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.process-card {
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.process-card span {
  color: var(--white);
}

/*section1-health*/

.section1-health {
  height: 100vh;
  margin-bottom: 6em;
}

.section1-health .section1-health-box {
  padding: 0;
}

.section1-health-content {
  padding: 5vw;
  height: 100%;
  width: 100%;
}

.process-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 1em;
}

.process-card h4 {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}

.process-card p {
  font-size: 16px;
  line-height: 28px;
}

.process-card img {
  display: inline-block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*responsive*/

/* mobile phones to tablet devices*/
@media (max-width: 991.98px) {
  /*section1-health*/

  .section1-health {
    height: 100%;
    margin-bottom: 4em;
  }

  .section1-health-content {
    padding: 10vw 4vw;
  }
  .section1-health-content h1 {
    font-size: 32px;
    margin-bottom: 1em;
    line-height: 48px;
  }

  .section1-health-content p {
    width: 100%;
  }

  /*section2-health*/

  .section2-health {
    margin-bottom: 4em;
  }

  .section2-health .btns {
    margin-top: 1em;
  }

  .section2-health p {
    margin-bottom: 1em;
  }

  /*secton3-health*/
  /*section6-about*/

  .service-process {
    margin-bottom: 4em;
  }

  .service-process .swiper-wrapper {
    padding-left: 0vw;
  }
}

/*mobile devices*/
@media (max-width: 575.98px) {
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}

@media (min-width: 1199.98px) and (max-width: 1366.98px) {
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
